<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :adress %><br>
    <%= f.text_field :adress %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>  
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>  
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>  

  <div class="actions">
    <%= f.submit 'Save', :class => "btn btn-info" %>
  </div>
<% end %>
