<h1>Teams#index</h1>
<p>Find me in app/views/teams/index.html.erb</p>

<% @teams.each do |team| %>
	<div class="row">
		<div class="small-2 large-1 columns"><%= link_to team.id, team_path(team) %></div>
		<div class="small-2 large-2 columns"><%= team.name %></div>
		<div class="small-2 large-4 columns"><%= team.description %></div>
		<div class="small-2 large-1 columns"><%= link_to '.edit', edit_team_path(team) %></div>
		<div class="small-2 large-1 columns"><%= link_to '.destroy', team_path(team), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %></div>
	</div>
<%end%>