<tr>
	<td><%= task.id %></td>
	<td><%= task.name %></td>
	<td style="text-align: right;">
		<div class="btn-group btn-group-xs"> 
			<% if current_usuario.admin || task.assignee_id == current_usuario.id %>
			<%= link_to 'Show', task_path(task), :class => "btn btn-info" %>
			<%= link_to 'Edit', edit_task_path(task), :class => "btn btn-info" %>
			<!-- 
			< link_to 'Destroy', [task.project, task], :method => :delete, :data => { :confirm => t('confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } > 
		-->
			
	       <% end %>
       </div>
   </td>
   <td> <% if current_usuario.admin %>
   	<%= button_to "Destroy", [task], method: :delete, :data => { :confirm => t('confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, form_class: "btn-group btn-group-xs", :class => "btn btn-danger boton" %>
   	<% end %>
   </td>
</tr>