
<div class="panel panel-default">
	<div class="panel-heading">Details</div>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th>Estimated (Hrs)</th>
					<th></th>
					<th>Actual Time (Hr)</th>
					<th>Milestone</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= @task.id %></td>
					<td><%= @task.name %></td>
					<td><%= @task.estimated_time %></td>
					<td><%= @task.description %></td>
					<td><% if @task.actual_time.blank? %>
						0
						<% else %>
						<%= @task.actual_time.round(3) %>
						<% end %>
					</td>
					<td> <%= check_box_tag :milestone, "1", @task.milestone, disable: true %> </td>
					<td><%= @task.running %></td>
				</tr>
			</tbody>
		</table>
</div>

<!-- 
<%= link_to("Start", {:action => :run_stop, :id => @task}, :method => :put)%>
 -->
 <% if !@task.running %>
	<%= button_to 'Start', run_stop_project_task_path(:id => @task), :method => :put, :class => "btn btn-success" %>
<% else %>
	<%= button_to 'Stop', run_stop_project_task_path(:id => @task), :method => :put, :class => "btn btn-danger" %>
<% end %>