<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">.Manager</a> -->
      <div class="navbar-brand">.Manager</div>
    </div>
    <div class="navbar-collapse collapse" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li class="<%= "active" if current_page?(root_path) %>">
          <!-- <a href="#">Dashboard</a> -->
          <%= link_to "Dashboard", root_path %>
        </li>
        <li class="<%= route_to_content 'active', usuarios_path %>"><a href="#about">Calendario</a></li>
        <li><a href="#contact">Plan</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-hover="dropdown">Proyectos <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Proyectos", projects_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-hover="dropdown">Administrar <b class="caret"></b></a>
          <ul class="dropdown-menu">
            
            <li><%= link_to "Usuarios", usuarios_path %></li>
            <li><%= link_to "Equipos", teams_path %></li>
            <li><%= link_to "Clientes", clientes_path %></li>
            <li class="divider"></li>
            <!-- <li class="dropdown-header">Tasks</li> -->
            <li><%= link_to "Tasks Categories", task_cats_path%></li>
            <li><%= link_to "Tasks Priorities", task_priorities_path%></li>
            <li><%= link_to "Tasks Statuses", task_statuses_path%></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="../navbar/">Default</a></li>
        <li><a href="../navbar-static-top/">Static top</a></li>
        <li class="active"><a href="./">Fixed top</a></li> -->
        <% if current_usuario %>
          <li> <a href="#"><%=  current_usuario.name %> </a>
          </li>
          <li>
          <%= link_to "Sign Out", logout_path %>   
          </li>
        <% else %>
          <li>
            <%= link_to "Sign Up", new_usuario_registration_path %>
          </li>
          <li>
            <%= link_to "Sign In", new_usuario_session_path %>
          </li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<div class="navbar-sub-manager">
  <h2 class="menu-subtitle">
    .Manager
  </h2>
  
  <h2 class="navbar-right">
      <%= 

      # if current_page?(root_path)
      #   "Dashboard"
      # elsif current_page?(usuarios_path)
      #   "Usuarios"
      # end

      route_to_content('Dashboard', root_path) 
        %>
        <%= route_to_content('Usuarios', usuarios_path) %>
  </h2>
  
</div>