<div class="catalogo tabla-striped">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Description</th>
      <th>Cost</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.id, project_path(project)%></td>
        <td><%= project.name %></td>
        <td><%= project.date_ini.strftime "%Y-%m-%d" %></td>
        <td><%= project.date_end.strftime "%Y-%m-%d" %></td>
        <td><%= project.description %></td>
        <td><%= project.cost_hr %></td>
        <td><%= link_to 'Show', project %></td>
        <%  if current_usuario.admin %>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%  end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%  if current_usuario.admin %>
  <%= link_to 'New Project', new_project_path %>
<%  end %>
