
<h2><%= #@project.name 
%></h2>
<h4 style="font-weight: lighter;"><%= #@project.description 
%></h4>


<h4>Tasks</h4>
<div class="catalogo tabla-striped">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Task</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<%= render @project.tasks %>

	</tbody>
</table>
</div>

<%= 
#render "tasks/form" 
%>


<div class="btn-group">
	<%  if current_usuario.admin %>
		<%= link_to 'Edit', edit_project_path(@project), :class => "btn btn-info" %>
	<%  end %>
	<%= link_to 'New Task', new_project_task_path(@project), :class => "btn btn-info" %> 
</div>
