<div class="envoltura">
  <div class="signin">
    <div class="container">

      <!-- <form class="form-signin"> -->
        <%= form_for(resource, :html => {:class => "form-signin"}, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <!-- <h2 class="form-signin-heading">Please sign in</h2> -->
        <!-- <input type="text" class="form-control" placeholder="Email address" autofocus=""> -->
        <div class="agrupador">
          <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email address" %>
          <span class="login-icon fui-user" for="login-name"></span>
        </div>
        <!-- <input type="password" class="form-control" placeholder="Password"> -->
        <div class="agrupador">
          <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
          <span class="login-icon fui-lock" for="login-pass"></span>
        </div>
        <!-- <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label> -->
        <% if devise_mapping.rememberable? -%>
          <div>
              <%= f.label :remember_me, :class => "checkbox" do %>
                <%= f.check_box :remember_me %>
                Remember me
              <% end %>
            </div>
        <% end -%>
        <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
        <%= f.submit "Login", :class => "btn btn-lg btn-primary btn-block btn-color-login" %>
        
        <br>
        <%= link_to "Lost your password?", new_usuario_password_path(resource_name), :class => "login-link" %>
        <% end %>
      <!-- </form>  -->

    </div>
  </div> <!-- signin -->
</div> <!-- envoltura -->


<!--
<%= render "devise/shared/links" %>
-->