
<div class="catalogo tabla-striped">
	<!-- <div class="row header">
		<div class="col-md-1"><%= @usuarios.human_attribute_name(:id) %></div>
		<div class="col-md-1"><%= @usuarios.human_attribute_name(:name) %></div>
		<div class="col-md-1"><%= @usuarios.human_attribute_name(:last_name) %></div>
		<div class="col-md-4"><%= @usuarios.human_attribute_name(:email) %></div>
		<div class="col-md-1"><%= @usuarios.human_attribute_name(:admin) %></div>
		<div class="col-md-1">Edit</div>
		<div class="col-md-1">Delete</div>
	</div>

	<% @usuarios.each do |user| %>
		<div class="row">
			<div class="col-md-1"><%= link_to user.id, team_path(user) %></div>
			<div class="col-md-1"><%= user.name %></div>
			<div class="col-md-1"><%= user.last_name %></div>
			<div class="col-md-4"><%= user.email %></div>
			<div class="col-md-1"><%= check_box_tag user.id, user.admin, user.admin %></div>
			<div class="col-md-1"><%= link_to '.edit', edit_team_path(user) %></div>
			<div class="col-md-1"><%= link_to '.destroy', team_path(user), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %></div>
		</div>
		
	<%end%>
	 -->
		 
	<table class="table table-striped">
		<thead>
			<tr>
				<th><%= @usuarios.human_attribute_name(:id) %></th>
				<th><%= @usuarios.human_attribute_name(:name) %></th>
				<th><%= @usuarios.human_attribute_name(:last_name) %></th>
				<th><%= @usuarios.human_attribute_name(:email) %></th>
				<th><%= @usuarios.human_attribute_name(:admin) %></th>
				<th></th>
			</tr>
		</thead>
		<tbody>		
		<% @usuarios.each do |user| %>
			<tr>
				<!-- <td><%= link_to user.id, usuario_path(user) %></td> -->
				<td><%= user.id %></td>
				<td><%= user.name %></td>
				<td><%= user.last_name %></td>
				<td><%= user.email %></td>
				<td><%= check_box_tag user.id, user.admin, user.admin %></td>
				<td>
					<div class="btn-group btn-group-xs">
						<%= link_to 'edit', edit_usuario_path(user), :class => "btn btn-info" %>
						<%= link_to 'destroy', usuario_path(user), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => "btn btn-danger" %>
					</div>
				</td>
			</tr>		
		<%end%>
		</tbody>
	</table>
</div>

<div class="row">
		<div class="col-md-4">			
			<%= link_to 'Nuevo Usuario', new_usuario_path %>
		</div>
	</div>