<!DOCTYPE html>
<html>
<head>
  <title>Manager</title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Opcion sugerida por Devise -->
	<!-- <p class="notice"></p> -->
 	<!-- <p class="alert"><%= alert %></p> -->
 	<!-- <div class="alert alert-info"> <%= notice %> </div> -->

  <%  if !current_usuario %>
    <%= yield :login %>
  <%  else %>
	
  <div class="wrapper">
    <% if current_usuario %>
      <%= render partial: "shared/top_menu", flash: flash %>
    <%end %>
    
    <%= render partial: "shared/flash_mensajes", flash: flash %>
     

  <div class="container dotcontainer">
  <%= yield %>
  </div>

    <% if current_usuario %>
      <%= render "shared/footer" %>
    <%end %>
</div>
<%  end %>

<%= javascript_include_tag "bootstrap-dropdown-hover", "data-turbolinks-track" => false %>
<%= javascript_include_tag "fullcalendar", "data-turbolinks-track" => false %>
<%= javascript_include_tag "timer.js" %>
<%= javascript_include_tag "calendar.js" %>

<script type="text/javascript">
    $('[data-behaviour~=datepicker]').datepicker({
  format: 'yyyy-mm-dd'
});  
</script>


</body>
</html>
