<!DOCTYPE html>
<html>
<head>
  <title>Manager</title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Opcion sugerida por Devise -->
	<!-- <p class="notice"></p> -->
 	<!-- <p class="alert"><%= alert %></p> -->
 	<!-- <div class="alert alert-info"> <%= notice %> </div> -->
	
  <div class="wrapper">
    <% if current_usuario %>
      <%= render partial: "shared/top_menu", flash: flash %>
    <%end %>
    
    <%= render partial: "shared/flash_mensajes", flash: flash %>
     

  <div class="container dotcontainer">
  <%= yield %>
  </div>

    <% if current_usuario %>
      <%= render "shared/footer" %>
    <%end %>
</div>
<%= javascript_include_tag "jquery", "data-turbolinks-track" => true %>
<%= javascript_include_tag "bootstrap", "data-turbolinks-track" => true %>
<%= javascript_include_tag "bootstrap-dropdown-hover", "data-turbolinks-track" => true %>

<%= javascript_include_tag "bootstrap-datepicker", "data-turbolinks-track" => true %>

<script type="text/javascript">
    $('[data-behaviour~=datepicker]').datepicker({
  format: 'yyyy-mm-dd'
});  
</script>

<!-- 

<%= javascript_include_tag "jquery-1.8.3.min", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery-ui-1.10.3.custom.min", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.ui.touch-punch.min", "data-turbolinks-track" => true %>

<%= javascript_include_tag "bootstrap-select", "data-turbolinks-track" => true %>
<%= javascript_include_tag "bootstrap-switch", "data-turbolinks-track" => true %>
<%= javascript_include_tag "flatui-checkbox", "data-turbolinks-track" => true %>
<%= javascript_include_tag "flatui-radio", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.tagsinput", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.placeholder", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.stacktable", "data-turbolinks-track" => true %> 

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
-->

<!-- 
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="js/jquery.ui.touch-punch.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-select.js"></script>
<script src="js/bootstrap-switch.js"></script>
<script src="js/flatui-checkbox.js"></script>
<script src="js/flatui-radio.js"></script>
<script src="js/jquery.tagsinput.js"></script>
<script src="js/jquery.placeholder.js"></script>
<script src="js/jquery.stacktable.js"></script>
<script src="http://vjs.zencdn.net/c/video.js"></script>
<script src="js/application.js"></script> -->

</body>
</html>
